<p id="notice"><%= notice %></p>
<div class="container">
	<div style="font-family: Arial;max-width: 920px;margin:0 auto;box-sizing: border-box;">
		<div style="background:black; display:block; height: 100%; padding: 15px;">
			<div style="margin-bottom: 15px;">
				<!-- cabecera -->
				<div style="display:block; width:100%;">
					<img src="assets/header.png" alt="logo oficial dremel" style="width:100%; ">
				</div>
			</div>
			<div>
				<!-- contenido -->
				<div style="background: white;overflow:auto;padding: 30px;">
					<!-- ficha -->
					<div style="float:left; width:40%;">
						<!-- imagen principal -->
						<img src="<%= @template.imgurl %>" alt="<%= @template.head %>" style="width:100%;">
					</div>
					<div style="display: inline-block; margin-left: 4%; vertical-align: top; width:55%;">
	        <span style="color:#be0811;text-decoration:underline;">
	          <h3 style="color: #4d4d4d;font-family: Verdana, sans-serif; font-size: 25px; font-weight: 100;text-decoration: none;line-height:normal;margin:0 0 25px 0;">
	          	<%= @template.head %>
	          </h3>
	        </span>
						<p style="color: #4d4d4d;font-size:16px;text-align:justify;">
							<%= @template.body %>
						</p>
						<!-- <h3 style="color: #4d4d4d;font-family: Verdana, sans-serif; font-size: 16px; font-weight: 100;text-decoration:underline;">
							Aplicaciones y uso:
						</h3>
						<ul style="margin:0; padding:0;">
							<% @template.compatibles.each do |li| %>
							<li style="color:#4d4d4d;font-size:13px;margin-left:16px;">
								<p style="margin:0;">
									<%= li.list %>
								</p>
							</li>
							<% end %>
						</ul>
						<h3 style="color: #4d4d4d;font-family: Verdana, sans-serif; font-size: 16px; font-weight: 100;text-decoration:underline;">
							Recomendado para utilizar en materiales como:
						</h3>
						<ul style="margin:0; padding:0;">
							<% @template.secondlists.each do |lis| %>
							<li style="color:#4d4d4d;font-size:13px;margin-left:16px;">
								<p style="margin:0;">
									<%= lis.list %>
								</p>
							</li>
							<% end %>
						</ul> -->
					</div>
					<div style="clear:both;">
						<!-- tabla -->
	        <span style="color:#be0811;text-decoration:underline;">
						  <h3 style="color: black; font-family: Verdana, sans-serif; font-size: 25px; font-weight: 100;">Especificaciones Técnicas</h3>
	        </span>
	        <table style="border-spacing:0;margin-bottom:30px;width:100%;">
							<tbody>
								<% @template.tablas.each do |ol| %>
								<!-- blanco -->
								<tr style="background:white;border:0;font-size:0; <% if ol.id % 2 == 0 %>background:#e6e6e6;<% end %> ">
									<td style="border:0;color:#4d4d4d;font-size:15px;margin:0;outline:0;padding:5px 10px;width:50%;">
										<%= ol.clave %>
									</td>
									<td style="border:0;color:#4d4d4d;font-size:15px;margin:0;outline:0;padding:5px 10px;width:50%;">
										<strong><%= ol.valor %></strong>
									</td>
								</tr>
								<% end %>
							</tbody>
						</table>
					</div>

					<!-- steps -->
					<div style="overflow:auto;text-align:center;width:100%;">
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step31.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">1</h3>
							<p style="font-size:13px">Selecciona tu producto.</p>
						</div>
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step32.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">2</h3>
							<p style="font-size:13px">Cuando estes seguro, haz click en el boton “comprar”.</p>
						</div>
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step33.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">3</h3>
							<p style="font-size:13px">Entrega direccion de entrega.</p>
						</div>
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step34.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">4</h3>
							<p style="font-size:13px">Paga mediante MercadoPago.</p>
						</div>
						<div style="float:left;min-height:200px;width:200px;">
							<img src="assets/step35.png" alt="" style="margin:0 auto;width:150px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">5</h3>
							<p style="font-size:13px">Tu pedido será despachado, tambien puedes retirar en tienda.</p>
						</div>
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step36.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">6</h3>
							<p style="font-size:13px">Recivirás tu pedido en la puerta de tu casa (solo si es para despacho).</p>
						</div>
						<div style="float:left;min-height:200px;width:100px;">
							<img src="assets/step37.png" alt="" style="margin:0 auto;width:85px;">
							<h3 style="color:black;font-family:Verdana,sans-serif;font-size:25px;margin:0;">7</h3>
							<p style="font-size:13px">Califica nuestro servicio. (siempre intentamos dar el mejor servicio).</p>
						</div>
					</div>
					<!-- info de beneficios -->
					<div style="overflow:auto;">
	        <span style="color:#be0811;text-decoration:underline;">
						  <h2 style="color:black;font-family: Verdana,sans-serif; font-size:25px;font-weight:100;margin-bottom:36px;">Beneficios de comprar en nuestra tienda oficial</h2>
	        </span>
	        <div>
							<div style="float:left;width:24%;">
								<img src="assets/benef31.png" alt="" style="width:155px;">
								<p style="font-size:13px;text-align:left;">Tu pedido será despachado desde 48 hasta 72 hrs hábiles en Santiago y hasta 5 días hábiles en regiones</p>
							</div>
							<div style="float:left;width:24%;">
								<img src="assets/benef32.png" alt="" style="width:155px;">
								<p style="font-size:13px;text-align:left;">Todos los productos cuentan con la garantia y respaldo de Dremel.</p>
							</div>
							<div style="float:left;width:24%;">
								<img src="assets/benef33.png" alt="" style="width:155px;">
								<p style="font-size:13px;text-align:left;">Realiza tus pagos a través del botón de MercadoPago, allí encontrarás el método que más se ajuste a tu necesidad</p>
							</div>
							<div style="float:left;width:24%;">
								<img src="assets/benef34.png" alt="" style="width:155px;">
								<p style="font-size:13px;text-align:left;">Encontraras ofertas y descuentos exclusivos para este canal.</p>
							</div>
						</div>
					</div>
					<!-- info de tienda -->
					<div>
	        <span style="color:#be0811;text-decoration:underline;">
						  <h2 style="color:black;font-family: Verdana,sans-serif; font-size:25px;font-weight:100;">Información sobre compras</h2>
	        </span>
	        <p>Una vez recibida la confirmación de tu compra el pedido será despachado desde 48 hasta 72 hrs hábiles en Santiago y hasta 5 días hábiles en Regiones. Junto con la confirmación recibirás un código de seguimiento con el que podrás rastrear tu producto, éste código es mandado por correo y también aparece en tus compras de Mercadolibre. Los horarios de atención a preguntas y reclamos son de Lunes a viernes de 9:30AM a 6:30PM.</p>

	        <!-- titulo -->
	        <span style="color:#be0811;text-decoration:underline;">
						  <h2 style="color:black;font-family: Verdana,sans-serif; font-size:25px;font-weight:100;">Preguntas Frecuentes</h2>
	        </span>
	        <!-- pregunta -->
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;">Proceso de compra</strong>
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;"><i>¿Cómo obtengo un comprobante de pago?</i></strong>
						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">Junto con tu pedido recibirás la Boleta / Factura correspondiente.</p>
						<!-- pregunta -->
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;">Envíos</strong>
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;"><i>¿Cuáles son los métodos de envío disponibles?</i></strong>
						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">Contamos con Mercado Envíos donde puedes escoger entre despacho prioritario (2 días hábiles) y despacho estándar (3 días hábiles) para región Metropolitana y hasta 5 días hábiles para regiones. Puedes conocer los plazos de entrega indicando tu comuna desde el calculador de envíos.</p>
						<!-- pregunta -->
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;"><i>¿Puedo hacer envíos fuera de Chile?</i></strong>
						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">No, solamente se despachan pedidos en el territorio nacional.</p>
						<!-- pregunta -->
						<strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;"><i>¿Dónde me comunico si no recibo mi pedido dentro los plazos informados?</i></strong>
						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">Debes Llamar a nuestro Servicio de Atención al cliente o a nuestro correo que te serán informados una vez realizada la compra.</p>

	        <!-- cambios y conclusiones -->
	        <span style="color:#be0811;text-decoration:underline;">
	          <h2 style="color:black;font-family: Verdana,sans-serif; font-size:25px;font-weight:100;">Cambios y devoluciones</h2>
	        </span>
	        <strong style="color:#4d4d4d;display:block;font-family:Verdana,sans-serif;font-size:16px;">¿Cómo funcionan las devoluciones y Garantía Dremel?</strong>

						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">
							<strong style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:16px;"><i>Garantía Legal:</i></strong>
							Si el producto presenta una falla en el funcionamiento  atribuible a la fabricación del producto o de uno de sus componentes  dentro de los 3 meses posteriores a la entrega, este será reparado, cambiado o devuelto el dinero según opte el cliente previa evaluación del servicio técnico autorizado.
						</p>

						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">
							<strong style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:16px;"><i>Procedimiento:</i></strong>
							Para hacer efectiva la garantía debe llevar la herramienta a un servicio técnico autorizado presentando la boleta o factura de compra.
						</p>

						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">Las garantías otorgadas por Dremel regirán siempre que el producto no se hubiera deteriorado por hecho imputable al consumidor.</p>

						<p style="color:#4d4d4d;font-family:Verdana,sans-serif;font-size:14px;">Al momento del retiro, debe presentar su boleta o factura. Las garantías otorgadas por Dremel regirán siempre que el producto no se hubiere deteriorado por hecho imputable al consumidor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- para editar -->
<div class="botones">
	<%= link_to 'Edit', edit_template_path(@template) %>
	<%= link_to 'Back', templates_path %>

</div>

<div class="lista">
	<!-- <h3>Aplicaciones y uso</h3>
	<%= render 'compatibles/form', template_id: @template.id %> -->


	<!-- <ul>
		<% @template.compatibles.each do |li| %>
		<li>
			<p>
				<%= li.list %>
				<span><%=  link_to "x", li, method: :delete %></span>
			</p>
		</li>
		<% end %>
	</ul>

	<h3>Recomendado para utilizar en materiales como:</h3>

	<%= render 'secondlists/form', template_id: @template.id %> -->


	<!-- <ul>
		<% @template.secondlists.each do |lis| %>
		<li>
			<p>
				<%= lis.list %>
				<span><%=  link_to "x", lis, method: :delete %></span>
			</p>
		</li>
		<% end %>
	</ul> -->

	<h3>Ficha tecnica</h3>
	<%= render 'tablas/form', template_id: @template.id %>

	<ul>
		<% @template.tablas.each do |ol| %>
		<li>
			<td style="border:0;color:#4d4d4d;font-size:15px;margin:0;outline:0;padding:5px 10px;width:50%;">
			<%= ol.clave %>
			</td>
			<td style="border:0;color:#4d4d4d;font-size:15px;margin:0;outline:0;padding:5px 10px;width:50%;">
				<strong><%= ol.valor %></strong>
			</td>
			<span><%=  link_to "x", ol, method: :delete %></span>
		</li>
		<% end %>
	</ul>
</div>

<h3>Copia este texto</h3>
<div class="output">

</div>


<script type="text/javascript" data-turbolinks-eval=always>
	var container = $('.container');
	//console.log(container[0].innerHTML);
	str = container[0].innerHTML;
	//parse = $.parseHTML( str );
	$('.output').text(str);
</script>
